    <article class="myArticle">
        <h1>Utiliser Filter en JS</h1>
        <p>
            La méthode filter() en JavaScript permet de créer un nouveau tableau 
            contenant uniquement les éléments qui remplissent une condition spécifique. 
            Elle s'applique aux tableaux et prend une fonction de rappel (callback) en argument. 
            Cette fonction de rappel est exécutée pour chaque élément du tableau d'origine, 
            et si elle renvoie true, l'élément est inclus dans le nouveau tableau.
        </p>
    </article>
