<section>
    <article class="myArticle" *ngIf="article.isPublished">
        <img [src]="article.image" alt="lenovo pcs">
        <h1>{{ article.title }}</h1>
        <div class="content">
            <p class="caption"> Publié par : {{article.author}}</p>
            <p>{{ article.content }}</p>
        </div>
    </article>
    <button (click)="togglePublication()" >{{article.isPublished ? "Dépublier" : "Publier"}}</button>

    <div class="comment">
        <label for="comment">Laissez un commentaire sur l'article</label>
        <input type="text" [(ngModel)]="article.comment">
    </div>
    <div class="article__comments">
        <h4>Commentaires : 👇</h4>
        <p>{{article.comment}}</p>
    </div>
</section>
