.myArticle {
    border: 1px solid gray;
    border-radius: 12px;
    width: 400px;
    height: auto;
}

.myArticle h1 {
    text-align: center;
    color: rgb(213, 124, 76);
}

.myArticle p {
    line-height: 2;
}

.myArticle img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.myArticle .content {
    padding-left: 10px;
    padding-right: 10px;
}

.myArticle .content .caption {
    color: #3f3f46;
    font-size: small;
    font-weight: bold;
    font-style: italic;
}

section .comment {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}
section button {
    margin-top: 16px;
    width: 400px;
    padding: 12px;
    font-size: 14px;
    color: white;
    background-color: #020617;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

section .comment input {
    margin-top: 8px;
    width: 400px;
    height: 20px;
    padding: 12px;
    outline: none;
    border: 1px solid gray;
    font-size: 18px;
    border-radius: 12px;
}