.myArticle {
    border: 1px solid gray;
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
}

.myArticle h1 {
    text-align: center;
    color: violet;
}

.myArticle p {
    line-height: 2;
}